<a href="https://colab.research.google.com/github/Shoriful-Shuvo/DOM/blob/main/2D_List_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**2D list is basically some 1D lists inside a bigger list. So, 2D list consists of several 1D lists.**

In [ ]:
#How to construct a 2D list normally

'''Think about this matrix:

1 2 3
4 5 6
7 8 9

'''
#Now let's create the matrix in 2D list

x = [[1,2,3],
     [4,5,6],
     [7,8,9]]



#x = [[1,2,3],[4,5,6],[7,8,9]]

**So, we have to create several 1D lists and separate them using commas, and then take all the 1D lists inside a bigger list.**

**Now, how can we print this 2D list?**

In [ ]:
#Method 1 - As usual (Horizontally)
'''Comments:
x = [[1,2,3],
     [4,5,6],
     [7,8,9]]
'''
print(x)

#As we can see, the 1D lists are printed horizontally

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

**Now, how can we print the 2D list in the same format as the matrix? Which is vertically without any commas?**

In [ ]:
# Now, this is our new 2D list. See carefully, the 2nd row now has 4 values (3 columns)

x = [[1,2,3],
     [4,5,6],
     [7,8,9,10]]
#Method 2 -> Printing vertically

for i in range(len(x)): #Outer loop controls rows --> This list has 2 rows (Index wise) but, In normal observation, 3 rows

  for j in range(len(x[i])): #Inner loop controls columns -> The first two rows have two columns and last row has 3 columns (Index wise)
    #Also, this loop will determine how many values will be printed in each row based on the column numbers
    print(x[i][j], end = " ") #Printing in a matrix format (Vertically)

  print() #Creating a new line after each row is finished

1 2 3
4 5 6
7 8 9 10

**How to access values in 2D list?**

**Let's talk about index in terms of 2D lists**

In [ ]:
#Let's again consider this list:

x = [[1,2,3],
     [4,5,6],
     [7,8,9]]

#We already know how to find index number of a particular value in 1D list
#But how to find the index of a value in 2D list?

#Let's think about the value '6'

#The value '6' is in -> 1st row (Index wise), normally 2nd row, and in 2nd column (index wise), normally 3rd column
#To determine the index of 2D list, we need to know the row and column number of a value just as we did above

#So the index of the value '6' will be x[row number of the value][column number of the value]

print(x[1][2]) #this will print out '6', that's how indexing work in 2D lists.

6

**Now we know how to create a 2D list normally, but how to create a list based on user inputs?**

**Let's see the following code:**

In [ ]:
#Code for creating 2D list using loop by taking Inputs:
#Will not appear in exams


R = int(input("Enter the number of rows:"))

C = int(input("Enter the number of columns:"))

# Initialize 2D list

list_2d = []


# For user input

for i in range(R): # A for loop for row entries

  a =[]

  for j in range(C): # A for loop for column entries
    #see how we have added the row and column number here for taking inputs
    a.append(int(input(f'Enter value for row {i} and column {j}: ')))

  list_2d.append(a)

# For printing the 2d list
print()
print("***The newly created list is:***")
for i in range(R):

  for j in range(C):

    print(list_2d[i][j], end = " ")

  print()

Enter the number of rows:3
Enter the number of columns:3
Enter value for row 0 and column 0: 1
Enter value for row 0 and column 1: 2
Enter value for row 0 and column 2: 3
Enter value for row 1 and column 0: 4
Enter value for row 1 and column 1: 5
Enter value for row 1 and column 2: 6
Enter value for row 2 and column 0: 7
Enter value for row 2 and column 1: 8
Enter value for row 2 and column 2: 9

***The newly created list is:***
1 2 3
4 5 6
7 8 9

**Now as we know how to create 2D list by taking inputs as well, let's move into list manipulation methods**

**How can we add a new 1D list at the end of a 2D list? Let's talk about .append() method for 2D lists**

*- This is useful for the final project as well*

In [ ]:
#Let's consider this list:
Price_list = [["01", "Banana", 5.00, "unit"],
              ["02", "Mango", 20.00, "kg"],
              ["03", "Apple", 15.00, "kg"],
              ["04", "Papaya", 25.00, "unit"],
              ["05", "Guava", 15.00, "kg"]]
#Now, we want to add another 1D list here at the end of the main list for pineapple
#For that, first we have to create the 1D list that needs to be added

new_list = ["06", "Pineapple", 500.00, "unit"]
# We can also create the above list by taking inputs from user for each entries

#Now, as we know, the .append() method adds a value at the end of a 1D list
#In the same way, the .append() method will add a 1D list at the end of a 2D list as in 2D list, you can consider each 1D list a element

Price_list.append(new_list) #Now, the newly created 1D list is appended. Let's see the final 2D list

print(Price_list)
#As we can see, the new 1D list is now added using the .append() method

[['01', 'Banana', 5.0, 'unit'], ['02', 'Mango', 20.0, 'kg'], ['03', 'Apple', 15.0, 'kg'], ['04', 'Papaya', 25.0, 'unit'], ['05', 'Guava', 15.0, 'kg'], ['06', 'Pineapple', 500.0, 'unit']]

**Can we add an value at the end of a sublist(1D list) inside a 2D list?**

In [ ]:
#Again, let's take the following list:

Price_list = [["01", "Banana", 5.00, "unit"],
              ["02", "Mango", 20.00, "kg"],
              ["03", "Apple", 15.00, "kg"],
              ["04", "Papaya", 25.00, "unit"],
              ["05", "Guava", 15.00, "kg"]]

#Now, let's think that we have to add the color 'Yellow' at the end of the 1st sublist. See the following code:
Price_list[0].append('Yellow')
#Now, yellow will be added at the end of the 1st sublist
print(Price_list)

[['01', 'Banana', 5.0, 'unit', 'Yellow'], ['02', 'Mango', 20.0, 'kg'], ['03', 'Apple', 15.0, 'kg'], ['04', 'Papaya', 25.0, 'unit'], ['05', 'Guava', 15.0, 'kg']]

**.insert() also works in 2D lists, but in sublists (1D lists)**

**How!!??**

In [ ]:
#Again, let's take the following list:

Price_list = [["01", "Banana", 5.00, "unit"],
              ["02", "Mango", 20.00, "kg"],
              ["03", "Apple", 15.00, "kg"],
              ["04", "Papaya", 25.00, "unit"],
              ["05", "Guava", 15.00, "kg"]]

#Now, let's think that we have to add the color 'Yellow' at the 4th position of the 1st sublist. See the following code:
Price_list[0].insert(3,'Yellow')
#Now, yellow will be added at the 4th position of the 1st sublist
print(Price_list)

[['01', 'Banana', 5.0, 'Yellow', 'unit'], ['02', 'Mango', 20.0, 'kg'], ['03', 'Apple', 15.0, 'kg'], ['04', 'Papaya', 25.0, 'unit'], ['05', 'Guava', 15.0, 'kg']]

**Now let's see an example of proper formatting in 2D list:**

In [ ]:
account_list = [["01","2110987","Mahbubul Haq",  100000],
                ["02","8363564","Abdur Rahim",0],
                ["03","6455372","Sonda Sorna",0],
                ["04","3654538","Mushruna Rahman",200000]]

#For proper formatting
for i in range(len(account_list)):

  #for string, count from left to right
  #for int/float, count from right to left
  print("{0:3}{1:12}{2:24}{3:9}".format(account_list[i][0],  account_list[i][1],account_list[i][2],account_list[i][3]))

01 2110987     Mahbubul Haq               100000
02 8363564     Abdur Rahim                     0
03 6455372     Sonda Sorna                     0
04 3654538     Mushruna Rahman            200000

**How do you add multiple values inside a sublist of 2D list?**

**Use of .extend() method**

In [ ]:
#consider the given list
account_list = [["01","2110987","Mahbubul Haq",  100000],
                ["02","8363564","Abdur Rahim",0],
                ["03","6455372","Sonda Sorna",0],
                ["04","3654538","Mushruna Rahman",200000]]

#suppose we have to add 20000,50000,100000 as the new deposits in the 0th Sublist.
account_list[0].extend([20000,50000,100000])
print(account_list)
#now the values are successfully added

[['01', '2110987', 'Mahbubul Haq', 100000], ['02', '8363564', 'Abdur Rahim', 0], ['03', '6455372', 'Sonda Sorna', 0], ['04', '3654538', 'Mushruna Rahman', 200000], 20000, 50000, 100000]

**Sorting 1D Lists**

In [ ]:
x = [1,2,3,7,8,9,4,5]
#sorting in ascending order
x.sort()
print(x)

[1, 2, 3, 4, 5, 7, 8, 9]

In [ ]:
x = [1,2,3,7,8,9,4,5]
#sorting in Descending order
x.sort(reverse = True)
print(x)

[9, 8, 7, 5, 4, 3, 2, 1]

In [ ]:
x = [1,2,3,7,8,9,4,5]
#sorting in reverse order
x.reverse()
print(x)

[5, 4, 9, 8, 7, 3, 2, 1]

**Now, how do we sort a 2D list?**

**Can we sort specific sublist?**

**Or, can we sort the entire 2D list?**

In [ ]:
#Sublist sorting (Ascending Order)

x = [[1,2,3],[7,9,8],[6,4,5]]


#Using loop:
for i in range(len(x)):
  x[i].sort() #sublist sorting
#Normally:
#x[1].sort()
#x[2].sort()


#Entire 2D list sorting
x.sort()
print(x)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
#Sublist sorting (Descending Order)

x = [[1,2,3],[7,9,8],[6,4,5]]


#Using loop:
for i in range(len(x)):
  x[i].sort(reverse = True) #sublist sort in descending order
#Normally:
#x[1].sort()
#x[2].sort()


#Entire 2D list sorting in descending order
x.sort(reverse = True)
print(x)

[[9, 8, 7], [6, 5, 4], [3, 2, 1]]

**Now, how do we reverse a 2D list?**

**Can we reverse specific sublist?**

**Or, can we reverse the entire 2D list?**

In [ ]:
#Sublist sorting (reverse order)

x = [[1,2,3],[7,9,8],[6,4,5]]


#Using loop:
for i in range(len(x)):
  x[i].reverse() #sublist sorting in reverse order
#Normally:
#x[1].reverse()
#x[2].reverse()


#Entire 2D list sorting in reverse order
x.reverse()
print(x)

[[5, 4, 6], [8, 9, 7], [3, 2, 1]]

**How to delete values in 2D list?**
**Use of .remove(), del keyword and .pop() methods in 2D list**

**pop method:**

In [ ]:
#deleting value in 2D list using .pop() method



Price_list = [["01", "Banana", 5.00, "unit"],
              ["02", "Mango", 20.00, "kg"],
              ["03", "Apple", 15.00, "kg"],
              ["04", "Papaya", 25.00, "unit"],
              ["05", "Guava", 15.00, "kg"]]

delete_ID = int(input("Which item no. do you wish to remove: "))
delete_ID = delete_ID - 1 #why?
removed_value = Price_list.pop(delete_ID)
print("Removed 1D list using .pop(): ", removed_value)
#this removes an entire row, how to delete a specific value? Figure it out.
print("Updated list using .pop(): ", Price_list)


# We can delete particular values with .pop() in the following way:

#Price_list[0].pop(3)
#print(Price_list)

Which item no. do you wish to remove: 4
Removed 1D list using .pop():  ['04', 'Papaya', 25.0, 'unit']
Updated list using .pop():  [['01', 'Banana', 5.0, 'unit'], ['02', 'Mango', 20.0, 'kg'], ['03', 'Apple', 15.0, 'kg'], ['05', 'Guava', 15.0, 'kg']]
[['01', 'Banana', 'unit'], ['02', 'Mango', 20.0, 'kg'], ['03', 'Apple', 15.0, 'kg'], ['05', 'Guava', 15.0, 'kg']]

In [ ]:
#Using del keyword

Price_list = [["01", "Banana", 5.00, "unit"], ["02", "Mango", 20.00, "kg"],
["03", "Apple", 15.00, "kg"],
["04", "Papaya", 25.00, "unit"], ["05", "Guava", 15.00, "kg"]]

del Price_list[2] #--> Delete entire 2nd row (index wise)
del Price_list[2][2] #--> Delete only the [2][2] value (index wise)
#del Price_list --> Delete the entire list from the memory



print("After using del keyword: ",Price_list)

After using del keyword:  [['01', 'Banana', 5.0, 'unit'], ['02', 'Mango', 20.0, 'kg'], ['04', 'Papaya', 'unit'], ['05', 'Guava', 15.0, 'kg']]

In [ ]:
#using .remove method

Price_list = [["01", "Banana", 5.00, "unit"], ["02", "Mango", 20.00, "kg"],
["03", "Apple", 15.00, "kg"],
["04", "Papaya", 25.00, "unit"], ["05", "Guava", 15.00, "kg"]]

#Remove entire sublist
#Price_list.remove(["01", "Banana", 5.00, "unit"])

#Remove Particular value
Price_list[2].remove(Price_list[2][2]) #Why Price_list[2][2]? Because in .remove(), we need to specify the value
print("After using .remove()method: ",Price_list)

[['02', 'Mango', 20.0, 'kg'], ['03', 'Apple', 15.0, 'kg'], ['04', 'Papaya', 25.0, 'unit'], ['05', 'Guava', 15.0, 'kg']]

**Can we convert a 2D list into 1D list?**

In [ ]:
list_2d=[[7, 8, 9],[11,10, 12],[4, 5, 6],[1, 2, 3]]
list1=[] #creating an empty list
for i in range(len(list_2d)): #i will target row number
   for j in range(len(list_2d[i])): #j will target particular values of a particular row
       list1.append(list_2d[i][j])


print(list1)

[7, 8, 9, 11, 10, 12, 4, 5, 6, 1, 2, 3]

**Need to show this after showing function**

In [ ]:
account_list = [["01","2110987","Mahbubul Haq",  100000],
  ["02","8363564","Abdur Rahim",0],
  ["03","6455372","Sonda Sorna",0],
  ["04","3654538","Mushruna Rahman",200000]]

#For proper formatting
def better_formatting(x):
  for i in range(len(x)):

     #for string, count from left to right
    #for int/float, count from right to left
    print("{0:3}{1:12}{2:24} {3:9}".format(x[i][0], x[i][1],x[i][2],x[i][3]))

#menu driven program
print("1-->Print the list normally")
print("2-->Print the list in a better format")
print("0-->Exit")

while True:
  x = int(input("Enter your selection: "))

  if x == 1:
    print(account_list) #print the list normally
  elif x == 2:
    better_formatting(account_list) #print the list in a better format
  elif x == 0:
    break
  else:
    print("You have given a wrong input, please select from the given list")

1-->Print the list normally
2-->Print the list in a better format
0-->Exit
Enter your selection: 10
You have given a wrong input, please select from the given list
Enter your selection: 1
[['01', '2110987', 'Mahbubul Haq', 100000], ['02', '8363564', 'Abdur Rahim', 0], ['03', '6455372', 'Sonda Sorna', 0], ['04', '3654538', 'Mushruna Rahman', 200000]]
Enter your selection: 2
01 2110987     Mahbubul Haq                100000
02 8363564     Abdur Rahim                      0
03 6455372     Sonda Sorna                      0
04 3654538     Mushruna Rahman             200000
Enter your selection: 0